# Core functionality - changes here should be rare!
/src/app.py                   @navtrade
/src/backend/database.py      @navtrade
/src/backend/routers/auth.py  @navtrade

# The frontend will need refactored soon to be more object oriented.
/src/static/   @navtrade
